
<hr />

<p><%= h(@event.name) %></p>
<p><%= h(@event.description) %></p>
<p><%= link_to("google maps", raw(@event.google_maps_url)) unless @event.google_maps_url.nil? %></p>
<strong><%= format_hours(@event.date) %> - <%= format_hours(@event.end_date) %></strong>
