

<%= semantic_form_for(@event) do |f| %>
  <%= f.input :name, :label => 'title' %>
  <%= f.input :description, :as => 'text', :input_html => { :rows => 5, :maxlength => 150 }, \
      :placeholder => "You may enter a brief description of your event, \
like location, food details, organization type, etc... or \
you may use our more advanced form below. Please limit yourself to \
150 characters." %>

  <table>
    <tr>
      <td class="start_date_time" colspan="3">Beginning of event</td>
      <td colspan="1">Duration of event</td>
    </tr>
    <tr>
      <td class="start_date_time">
        <%= f.input :date_string, :as => :date_picker, :label => false %>
      </td>
      <td class="start_date_time">
        <%= f.input :start_time_string, :label => false %>
      </td>
      <td class="start_date_time">
        <%= f.input :meridian_indicator, :as => :radio, :collection => ["am", "pm"], :label => false %>
      </td>
      <td>
        <%= f.input :duration, :label => false %>
      </td>
    </tr>
  </table>

  <br />
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
  <% end %>
  <hr />
  <h2>Optional Stuff</h2>
  <%= f.input :group_name %>
  <%= f.input :group_url, :label => 'web address of your group/organization' %>
  <%= f.input :location %>
  <%= f.input :google_maps_url %>
  <%= f.input :meal_type, :as => :select,
              :collection => ["Refreshments", "Full meal", "snacks"] %>
  <br />

<% end %>
