<html>
<head>
  <meta name="viewport" content="initial-scale=1.0" />
  <%= stylesheet_link_tag "application" %>
</head>

<body>


<% datestring = "%B, %_d" %>
<% date = @events.length > 0 ? @events[0].date : DateTime.now %>
<% date = date.strftime(datestring) %>

<div class="mobile">
  
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><%= image_tag "mobile_logo.png" %></a>
      <div class="btn-group">
        <ul class="nav pull-right">
          <li><%= link_to "Main site (This is our mobile site)", "/view_by_week" %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="alert info-alert">
  Admit it, you're probably a broke college student. Luckily for
  you, there are plenty of ways to eat for free on the University of
  Minnesota campus. Check out these opportunities for free food
  and to get to know some great clubs, organizations, and events!
</div>

<% if @events.length > 0 %>
<% if @events[0].date.today? %>
  <h2>Today</h2>
<% end %>
<% end %>

<% @events.each do |event| %>

  <% if event.date.strftime(datestring) != date %>
    <% date = event.date.strftime(datestring) %>
    <h2><%= date %></h2>
  <% end %>

  <p>
    <strong><%= event.name %></strong> |
    <%= event.description %> |
    <strong><%= format_hours(event.date) %> - <%= format_hours(event.end_date) %></strong> |
  <% if event.google_maps_url? %>
    <%= link_to (event.location ? event.location : "google maps"), event.google_maps_url %>
  <% else %>
    <% if event.location? %>
      <%= event.location %>
    <% end %>
  <% end %>
  </p>

  <br />
<% end %>

</div>

</body>
</html>