
<%= content_tag("h1", @event.name) unless @event.name.nil? %>

<%=  best_html_if_maybe_location_and_maybe_google_maps_url(@event.group_name.nil?, @event.group_url.nil?,
                                                           @event.group_name, raw(@event.group_url)) %>


<strong>
  <%= @event.date.strftime("%A, %B %e ") %>
</strong>
<br />
<strong>
  <%= format_hours(@event.date) %> - <%= format_hours(@event.end_date) %>
</strong>

<br /><br />

<%= content_tag("p", @event.description) unless @event.description.nil? %>

<br />

<% unless @event.long_description.nil? %>
  <%= content_tag("p", @event.long_description) %>
  <br />
<% end %>

<%=  best_html_if_maybe_location_and_maybe_google_maps_url(@event.location.nil?, @event.google_maps_url.nil?,
                                                           @event.location, raw(@event.google_maps_url)) %>

<br />

<div class="fb-comments" data-href="http://www.freefoodumn.com/events/<%= @event.id %>" data-num-posts="20" data-width="470"></div>
