
<%= content_tag("h1", @event.name) unless @event.name.nil? %>

<% if @event.organization %>
  <% if @event.organization.approved_by_admin %>
    <% if @event.organization.url.blank? %>
      <p>By: <%= @event.organization.name %></p>
    <% else %>
      By: <%= link_to @event.organization.name, @event.organization.url %>
    <% end %>
  <% end %>
<% end %>

<strong>
  <%= @event.date.strftime("%A, %B %e ") %>
</strong>
<br />
<strong>
  <%= format_hours(@event.date) %> - <%= format_hours(@event.end_date) %>
</strong>

<br /><br />

<%= content_tag("p", @event.description) unless @event.description.nil? %>

<br />

<% unless @event.long_description.nil? %>
  <%= content_tag("p", @event.long_description) %>
  <br />
<% end %>

<% if @event.location %>
  <% if @event.google_maps_url.blank? %>
    <p>Location: <%= @event.location %></p>
  <% else %>
    <%= link_to @event.location, @event.google_maps_url %>
  <% end %>
<% end %>

<br />

<div class="fb-comments" data-href="http://www.freefoodumn.com/events/<%= @event.id %>" data-num-posts="20" data-width="470"></div>
