<div class="calendar">
<%= calendar_for(@tasks) do |t| %>
  <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
  <%= t.day do |day, tasks| %>
    <%= day.day %>
    <% tasks.each do |task| %>
      <%= h(task.name) %>
    <% end %>
  <% end %>
<% end %>
</div>