<?xml version="1.0" encoding="ISO-8859-1"?>
<items>
<% @events.each do |event| %>
<item>
  <title><%= event.name %></title>
  <summary><%= event.description %></summary>
  <link><%= event.google_maps_url %></link>
  <date><%= event.date %></date>
  <end_date><%= event.end_date %></end_date>
</item>
<% end %>
</items>