


<% content_for :date_view do %>

<% date = nil %>

<% @events.each do |event| %>
  <% if event.date.strftime("%B %-d, %Y") != date %>
    <% if event.date.strftime("%B %-d, %Y") == DateTime.now.strftime("%B %-d, %Y") %>
      <% date = "Today" %>
    <% else %>
      <% date = event.date.strftime("%B %-d, %Y") %>
    <% end %>
    <h2><%= date %></h2>
  <% end %>


  <%= link_to event.name, "/events/#{event.id}" %> | <%= event.description %> |
  <strong><%= format_hours(event.date) %> - <%= format_hours(event.end_date) %></strong> |
  <% if event.google_maps_url? %>
    <%= link_to (event.location ? event.location : "google maps"), event.google_maps_url %>
  <% else %>
    <% if event.location? %>
      <%= event.location %>
    <% end %>
  <% end %>
  <br /><br />


<% end %>

<br />
<% end %>

<% content_for :description_of_viewing_mode do %>
<%= @date_group %>
<% end %>


<% content_for :left_arrow do %>
  <% if @show_left_arrow %>
    <%= link_to image_tag('left-arrow.png'), "/view_by_list/?n=#{ @page - 1 }", id: "left_arrow" %>
  <% else %>
    <%= image_tag('left-arrow-unclickable.png') %>
  <% end %>
<% end %>

<% content_for :right_arrow do %>
  <% if @show_right_arrow %>
    <%= link_to image_tag('right-arrow.png'), "/view_by_list/?n=#{ @page + 1 }", id: "right_arrow" %>
  <% else %>
    <%= image_tag('right-arrow-unclickable.png') %>
  <% end %>
<% end %>
