
<% content_for :menu do %>
  <%= menu(
    [
      {
        link_name: "view by month",
        url: "/view_by_month",
      },
      {
        link_name: "view by week",
        url: "/view_by_week",
      },
    ])
  %>
<% end %>

<% content_for :date_view do %>
<div class="month_view">
<%= calendar_for(@events, :year => @calendar_year.to_i, :month => @calendar_month.to_i) do |t| %>
  <%= t.head('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat') %>
  <%= t.day do |day, tasks| %>
    <span><%= day.day %></span>
    <div class="events">
      <% tasks.each do |task| %>
        <br />
        <% @event = task %>
        <%= render 'events/month_view_show' %>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
<% end %>

<% content_for :description_of_viewing_mode do %>
<%= @date_group %>
<% end %>

<% content_for :left_arrow do %>
  <%= link_to image_tag('left-arrow.png'), "/month/#{previous_month(@calendar_month.to_i)}/year/#{previous_months_year(@calendar_month.to_i, @calendar_year.to_i)}", :id => 'previous_month' %>
<% end %>

<% content_for :right_arrow do %>
  <%= link_to image_tag('right-arrow.png'), "/month/#{next_month(@calendar_month.to_i)}/year/#{next_months_year(@calendar_month.to_i, @calendar_year.to_i)}", :id => 'next_month'  %>
<% end %>