
<div class="blog_post">

<table width="100%">
  <tr>
    <td align="left">
      <h1><%= title %></h1>
      <div class="fb-like" data-href="http://www.freefoodumn.com/<%= path %>" data-send="true" data-width="450" data-show-faces="true"></div>
    </td>
    <td align="right">
      <span class="date"><%= date %></span>&nbsp;&nbsp;
      By:&nbsp;<span class="author"><%= author %></span>
    </td>
  </tr>
</table>

<br />

<%= raw body %>

<div class="fb-comments" data-href="http://www.freefoodumn.com/<%= path %>" data-num-posts="20" data-width="470"></div>

</div>

<br />