<!DOCTYPE html>
<html>
<head>
  <title>Free Food Umn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics' %>
</head>
<body>
  <%= render 'layouts/facebook_api' %>
  <div class="container wrapper">
    <%= render 'layouts/header' %>
    <% if notice or alert %>
      <br />
      <%= content_tag(:div, notice, :class => 'alert alert-info') unless notice.nil? %>
      <%= content_tag(:div, alert, :class => 'alert alert-error') unless alert.nil? %>
    <% end %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <br /><br />
    <div class="push"></div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
