<!DOCTYPE html>
<html>
<head>
  <title>Free Food Umn</title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics' %>
</head>
<body>
  <%= render 'layouts/facebook_api' %>
  <div class="top_menu"><%= render "layouts/top_menu" %></div>
  <div class="header"><div class="container"><%= render 'layouts/header' %></div></div>

  <%= yield(:notice) if content_for?(:notice) %>

  <% if content_for?(:skip_having_layout) %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  <% else %>
    <div class="container">
      <% if notice or alert %>
        <br />
        <%= content_tag(:div, notice, :class => 'alert alert-info') unless notice.nil? %>
        <%= content_tag(:div, alert, :class => 'alert alert-error') unless alert.nil? %>
      <% end %>
      <%= content_for?(:content) ? yield(:content) : yield %>
      <br />
      <%= render 'layouts/footer' %>
    </div>
  <% end %>

  <%= javascript_include_tag "application" %>
</body>
</html>
