
<% content_for :date_view_ui do %>

<br /><br />

<div class="row">
  <div class="span2">
    <%= yield :left_arrow %>
  </div>
  <div class="span4 viewing_mode_description">
    <h2><%= yield :description_of_viewing_mode %></h2><br />
    <%= menu(
      [
        {
          link_name: "view by month",
          url: '/view_by_month',
          regex: /\/(view_by_month|month).*/,
        },
        {
          link_name: "view by week",
          url: '/view_by_week',
          regex: /\/view_by_week.*/,
        },
        {
          link_name: "list",
          url: '/view_by_list',
          regex: /\/view_by_list/,
        },
      ])
    %><br /><br />
    <div class="promotion_message">
      <%= link_to "Check out our guide to free parking at the UofM", "/parking" %>
    </div>
  </div>
  <div class="span2">
    <%= yield :right_arrow %>
  </div>
</div>
<% end %>

<% content_for :skip_having_layout do %>
true
<% end %>

<% content_for :content do %>
<br />
<div class="container-fluid wrapper">
  <div class="row-fluid">
    <div class="span2" style="text-align: left">
    <% if Rails.env == 'production' %>
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4233832583202758";
        /* free food umn skyscraper */
        google_ad_slot = "7657050634";
        google_ad_width = 120;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    <% end %>
    </div>
    <div class="span8">
      <% if notice or alert %>
        <br />
        <%= content_tag(:div, notice, :class => 'alert alert-info') unless notice.nil? %>
        <%= content_tag(:div, alert, :class => 'alert alert-error') unless alert.nil? %>
      <% end %>
      <%= yield :date_view %>
      <br />
      <%= render 'layouts/footer' %>
    </div>
    <div class="span2" style="text-align: right">
    <% if Rails.env == 'production' %>
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4233832583202758";
        /* free food umn skyscraper */
        google_ad_slot = "7657050634";
        google_ad_width = 120;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    <% end %>
    </div>
  </div>
</div>
<% end %>

<%= render :template => 'layouts/application' %>
