
<% content_for :date_view_ui do %>

<br />
<div class="alert info-alert">
  Admit it, you're probably a broke college student. Luckily for
  you, there are plenty of ways to eat for free on the University of
  Minnesota campus. Check out these opportunities for free food
  and to get to know some great clubs, organizations, and events!
</div>

<div class="row">
  <div class="span2">
    <%= yield :left_arrow %>
  </div>
  <div class="span4">
    <h2>Free Food Events for <%= @date_group %></h2><br />
    <%= yield :menu %>
  </div>
  <div class="span2">
    <%= yield :right_arrow %>
  </div>
</div>
<% end %>


<% content_for :content do %>
<br />
<%= yield :date_view %>
<% end %>

<%= render :template => 'layouts/application' %>
