
<% content_for :date_view_ui do %>

<br /><br />

<div class="row">
  <div class="span2">
    <%= yield :left_arrow %>
  </div>
  <div class="span4 viewing_mode_description">
    <h2><%= yield :description_of_viewing_mode %></h2><br />
    <%= menu(
      [
        {
          link_name: "view by month",
          url: '/view_by_month',
          regex: /\/(view_by_month|month).*/,
        },
        {
          link_name: "view by week",
          url: '/view_by_week',
          regex: /\/view_by_week.*/,
        },
      ])
    %>
  </div>
  <div class="span2">
    <%= yield :right_arrow %>
  </div>
</div>
<% end %>


<% content_for :content do %>
<br />
<%= yield :date_view %>
<% end %>

<%= render :template => 'layouts/application' %>
