
<% content_for :date_view_ui do %>

<br /><br />

<div class="row">
  <div class="span2">
    <%= yield :left_arrow %>
  </div>
  <div class="span4">
    <h2>Free Food Events for <%= @date_group %></h2><br />
    <%= yield :menu %>
  </div>
  <div class="span2">
    <%= yield :right_arrow %>
  </div>
</div>
<% end %>


<% content_for :content do %>
<br />
<%= yield :date_view %>
<% end %>

<%= render :template => 'layouts/application' %>
